node_modules
out
dist
dev

/packages/*/lib
/packages/*/out
/packages/*/scripts
/packages/*/test
/packages/*/index.*
/packages/vscode-lit-plugin/built
/packages/web-component-analyzer/.rollup.cache
!/packages/web-component-analyzer/test

/.nx/workspace-data
